@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
    Author: Bakare Abdulwahab Akorede
   Date:   02/20/2023
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */

html {
  height: 100%;
}
body {
  width: 95%;
  min-width: 640px;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
}
img {
  display: block;
}

/* CSS Grid Styles */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#logo {
  grid-column: 1 / span 3;
  width: 100%;
}

/* Horizontal Navigation List Styles */

nav {
  grid-column: 1 / span 4;
}

footer {
  grid-column: 1 / span 4;
}

aside {
  grid-column: 3 / span 2;
}

nav ul li {
  display: block;
  width: 12.5%;
  float: left;
}

/* Section Styles */
section img {
   width: 50%;
   display: block;
   margin: 0 auto;
 }

 section p {
   width: 70%;
   margin: 0 auto;
 }
 

/* Customer Comment Styles */
aside{
   width: 75%;
   padding-bottom: 30px;
}

/* .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
 } */
 
 aside {
   width: 100%;
   padding-bottom: 30px;
   border: 1px solid black;
 }
 
 aside:nth-of-type(odd) {
   justify-self: end;
 }
 
 aside img {
   float: left;
   width: 20%;
 }
 